<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>vista 1 red social</title>
    <link rel="stylesheet" href="estilos/estilos.css">
</head>

<body>
   <div class="caja2">
        <p>
            <img src="{{ url_for('static', filename='img/dragon.jpg')}}" alt="dragon" width="80px" height="80px" align="left">
            <!-- <img src="../templates/static/img/dragon.png" alt="" width="80px" height="80px" align="left">  -->
            <h3 class="textcenter">Social Pogona henrylawsoni</h3>
        <!-- alinear botones a la derecha parte superior con CSS -->
        </p>
        <form action="/login" method="post">
            <input type="submit" value="Iniciar sesión" name="btnIniciar">
            <input type="submit" value="Registrarse" name="btnRegistrar">
        </form>
       
    </div>

    <h1 class="resaltar">Imagenes que inspiran </h1> <!-- Centrar con CSS -->
    
    <div class="caja">
        <center><marquee behavior="alternate" direction="left" width="80%"> <img src="../templates/static/img/Paisaje.jpg" alt="" width="400px" height="300px" /> </marquee></center>
        <center><marquee behavior="alternate" direction="left" width="80%"> <img src="../templates/static/img/oceano.jpg" alt="" width="800px" height="600px" /> </marquee></center>
        <center><marquee behavior="alternate" direction="right" width="80%"> <img src="../templates/static/img/Despegue.jpg" alt="" width="800px" height="600px" /> </marquee></center>

    </div>

    

</body>
</html>