<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vista 2 red social</title>
    <link rel="stylesheet" href="estilos/estilos.css">
</head>
<body>

        <img src="../templates/static/imagenes/dragon.png" alt="" width="80px" height="80px" align="left"> 
        <h3>Social Pogona henrylawsoni</h3><br>
        <img src="../templates/static/imagenes/Registrese.jpg" alt="" width="300" height= "300">

        <h1>¿Que te interesa?</h1>
        <div>

            <h4>Benvenido a Social Pogona Henrylawsoni</h4><!-- texto en columna independiente -->

            <form action="/loguearse" method="post" class="form">
                <p>
                    <label for="">Usuario</label>
                    <input type="text" name = "txtUsuario">
                </p>
                <p>
                    <label for="">Contraseña</label>
                    <input type="password" name="txtPassword"><br>
                </p>
                <p>
                    <input type="submit" value="Enviar" name="btnEnviar">
                </p>
               

            </form>
        </div>
</body>
</html>